<!DOCTYPE html>
<html lang="en" ng-app='quizTime'>

    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <!-- 3rd party and custom stylesheets -->
        <link rel="stylesheet" type="text/css" href="style/normalize.css">
        <link rel="stylesheet" type="text/css" href="style/foundation.min.css">
        <link rel="stylesheet" type="text/css" href="style/main.css">
        <!-- 3rd party and custom stylesheets end -->

        <title>Quiz time!</title>

    </head>

    <body>

        <div ng-controller="QuizController as ctrl">
            <div ng-if='ctrl.question'>
                <div class="row">
                    <div class="columns large-6">
                        <label class="label" ng-bind='ctrl.question'></label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="columns large-12">
                    <input type="text" placeholder="Put in your answer..." ng-enter='ctrl.answerQuestion()' ng-model='ctrl.answer' focus-me="ctrl.answer == ''">
                </div>
            </div>
            <div class="row">
                <div class="columns large-6">
                    <button class="button tiny expand" ng-disabled="ctrl.answer == ''" ng-click="ctrl.answerQuestion()">Check answer</button>
                </div>
            </div>
        </div>

        <!-- link 3rd party libraries -->
        <script type="text/javascript" src="js/angular.js"></script>
        <!-- link 3rd party libraries end -->
        <!-- link custom js file -->
        <script type="text/javascript" src="js/quiz.js"></script>
        <!-- link custom js file end -->
    </body>
</html>
