<!doctype html>
<html lang="en" ng-app="quizTime">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Quiz time!</title>
        <link rel="stylesheet" type="text/css" href="style/normalize.css">
        <link rel="stylesheet" type="text/css" href="style/foundation.min.css">
        <link rel="stylesheet" type="text/css" href="style/main.css">
        <script type="text/javascript" src="js/angular.js"></script>
    </head>
    <body>
        <div id="quiz" ng-controller="QuizController">
            <div class="row">
                <button class="button tiny expand" ng-click="init()">Reset Quiz</button>
            </div>
            <div ng-if="question">
                <div class="row">
                    <label class="label">{{question}}</label>
                </div>
            </div>
            <div class="row">
                <input id="answerBox" type="text" placeholder="Put in your answer..." ng-enter="answerQuestion()" ng-model="answer" focus-me="answer == ''">
            </div>
            <div class="row">
                <button class="button tiny expand" ng-disabled="answer == ''" ng-click="answerQuestion()">Check answer</button>
            </div>
        </div>

        <script type="text/javascript" src="js/quiz.js"></script>
    </body>
</html>
